[submodule "external/tinyxml"]
	path = external/tinyxml
	url = git://git.code.sf.net/p/tinyxml/git
	ignore = dirty
[submodule "external/curl"]
	path = external/curl
	url = git@github.com:curl/curl.git
	ignore = dirty
	branch = curl-7_78_0
[submodule "external/spirit"]
	path = external/spirit
	url = https://github.com/boostorg/spirit.git
	ignore = dirty
	branch = boost-1.76.0
